img {
    object-fit: cover;
    width: 300px;
    height: 300px;
  }
td#productName:hover  div#proimgBox{
  cursor: pointer;
  visibility: visible;
  
}
td#productName:hover{
  cursor: pointer;
  width: 900px;
}
div#proimgBox{
  visibility: hidden;
}